<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_ProductMultiStoreMassUpdate>
            <version>1.0.0</version>
        </Quafzi_ProductMultiStoreMassUpdate>
    </modules>
    <global>
        <blocks>
            <quafzi_productmultistoremassupdate>
                <class>Quafzi_ProductMultiStoreMassUpdate_Block</class>
            </quafzi_productmultistoremassupdate>
        </blocks>
        <helpers>
            <quafzi_productmultistoremassupdate>
                <class>Quafzi_ProductMultiStoreMassUpdate_Helper</class>
            </quafzi_productmultistoremassupdate>
        </helpers>
    </global>
</config>