<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_ProductMultiStoreMassUpdate>
            <version>1.0.0</version>
        </Quafzi_ProductMultiStoreMassUpdate>
    </modules>
    <global>
        <blocks>
            <quafzi_productmultistoremassupdate>
                <class>Quafzi_ProductMultiStoreMassUpdate_Block</class>
            </quafzi_productmultistoremassupdate>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_action_attribute>Quafzi_ProductMultiStoreMassUpdate_Block_Catalog_Product_Edit_Action_Attribute</catalog_product_edit_action_attribute>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <quafzi_productmultistoremassupdate>
                <class>Quafzi_ProductMultiStoreMassUpdate_Helper</class>
            </quafzi_productmultistoremassupdate>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <quafzi_productmultistoremassupdate>
                    <file>quafzi_productmultistoremassupdate.xml</file>
                </quafzi_productmultistoremassupdate>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <quafzi_productmultistoremassupdate>
                <use>admin</use>
                <args>
                    <module>Quafzi_ProductMultiStoreMassUpdate</module>
                    <frontName>productmultistoremassupdate</frontName>
                </args>
            </quafzi_productmultistoremassupdate>
        </routers>
    </admin>
</config>
